Value ccapi_val (\w+)
Value calling_num (\d+)
Value called_num (\d+)
Value in_dial (\d+)
Value out_dial (\d+)


Start
  ^\d+:\s+[*]\w{0,3}\s+\d\s+\d\d:\d\d:\d\d.\d\d\d:\s+//\d+/${ccapi_val}/CCAPI/cc_api_call_setup_ind_common:
  ^\s+Calling Number=${calling_num}
  ^\s+Called Number=${called_num}
  ^\s+Incoming Dial-peer=${in_dial}
  ^\d+:\s+[*]\w{0,3}\s+\d\s+\d\d:\d\d:\d\d.\d\d\d:\s+//\d+/${ccapi_val}/CCAPI/ccCallSetupRequest:
  ^\s+Outgoing Dial-peer=${out_dial} -> Record