Value Date (\w+\s+\d+\s+\d{1,3}:\d{1,3}:\d{1,3}.\d{1,3})
Value Sig (ISDN)
Value Int (Se\d/\d/\d:\d\d)
Value Prot (Q931)
Value Trans (RX|TX)
Value Message (SETUP|CALL_PROC|PROGRESS|CONNECT|CONNECT_ACK|DISCONNECT|RELEASE|RELEASE_COMP) 
Value Pd (8)
Value Callref (\w+)

Start
  ^.*\s+[*]${Date}:\s+${Sig}\s+${Int}\s+${Prot}:\s+${Trans}\s+(<-|->)\s+${Message}\s+pd\s+=\s+${Pd}\s+callref\s+=\s+${Callref} -> Record
